@import "./card.module";
@import "./landing.module";
@import "./cards.module";

@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Sorts Mill Goudy", serif;
  background-image: url("./images/background.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
